body {
  text-align: center;
  background-color: #e3d5ca;
}
#article-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  list-style-type: none;
  gap: 0;
}

.article-card {
 font-size: 0.75rem;
 width: 250px;
 margin: 20px;
 background-color: #edede9;
 border-radius: 20px;
 text-align: center;
}

.article-image {
  width: 250px;
  height: 200px;
  border-top-left-radius:  20px;
  border-top-right-radius: 20px;
}

.single-article {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  justify-content: center;
  width: 600px;
  padding: 20px;
  border-radius: 30px;
  margin-right: 40px;
}

#single-article-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center
}

.comment {
  padding: 0px 3px 0px 3px;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr auto 1fr ;
  background-color: white;
  border: solid 1px black;
  width: 300px;
  text-align: start;
  row-gap: 0px;
  column-gap: 0px;
  border-radius: 20px;

}
#comment_container {
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr  auto;
  padding: 0px;
  row-gap: 10px;
  column-gap: 10px;
  height: auto;
  width: 40vw;
}
.comment-text {
  grid-column: 1 / span 3;
  font-size: 0.9em;
}

.like-button {
  height: 30px;
  width: 50px;
  align-self: center;
  grid-column: 2;
  grid-row: 3;
  justify-self: right;
}
.dislike-button {
  height: 30px;
  width: 50px;
  align-self: center;
  grid-column: 3;
  grid-row: 3;
}
.votes {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
}