body {
  text-align: center;
  background-color: #e3d5ca;
}
#article-container {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.article-card {
 font-size: 0.75rem;
 width: 250px;
 margin: 20px;
 background-color: #edede9;
 border-radius: 20px;
 text-align: center;
}

.article-image {
  width: 250px;
  height: 200px;
  border-top-left-radius:  20px;
  border-top-right-radius: 20px;
}