body {
  text-align: center;
  background-color: #e3d5ca;
}
#article-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  list-style-type: none;
  gap: 0;
}

.article-card {
 font-size: 0.75rem;
 width: 250px;
 margin: 20px;
 background-color: #edede9;
 border-radius: 20px;
 text-align: center;
}

.article-image {
  width: 250px;
  height: 200px;
  border-top-left-radius:  20px;
  border-top-right-radius: 20px;
}

.single-article {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  justify-content: center;
  width: 600px;
  padding: 20px;
  border-radius: 30px;
}

#single-article-container {
  display: flex;
  justify-content: center;
}